body {
    background-color: rgb(78, 3, 45);
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.elemento1,
.elemento2,
.elemento3,
.elemento4,
.elemento5,
.elemento6,
.elemento7
{

    display: flex;
    align-items: center;
    height: 200px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255);
    margin: 20px auto;
    max-width: 100%;
}

.elemento2 {
    justify-content: center;
    flex-direction: column-reverse;
    /* flex-direction: row-reverse; */
}

.elemento3 {
    justify-content: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
}

.elemento4 {
    justify-content: flex-start;
}

.elemento5 {
    justify-content: flex-end;
}

.elemento6{
    align-items: flex-start;
}

.elemento7{
    align-items: flex-end;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {

    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background-color: rgb(0, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    transition: 2s;
    cursor: pointer;
}




/*  */

.item1 {
    background-color: rgb(255, 0, 0);
    flex-grow: 9;
}

.item2 {
    flex-grow: 1;
}

.item3 {
    background-color: rgb(0, 26, 255);
    flex-grow: 4;
}




/*  */

.item4 {
    background-color: rgb(255, 0, 0);
}

.item6 {
    background-color: rgb(0, 26, 255);
}